.image {
    width: 40px;
    height: 40px;
}

.welcome {
    background-image: url('/images/ge2.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.pw {
    margin-top: 45px;
}

.titre {
    color: black !important;
    margin-bottom: 120px;
    font-family: 'Exo', sans-serif;
}

.titreM {
    color: black !important;
    font-size: 20px !important;
    font-weight: bold !important;
    font-family: 'Exo', sans-serif;
}

.links>a {
    font-weight: 800;
}

.footer {
    background-color: black;
    color: lightsteelblue;
    text-align: center;
}

body {
    height: inherit;
}

.nav2 {
    font-family: 'Exo', sans-serif;
    margin-bottom: 25px;
}

.bg {
    background-color: rgb(228, 225, 94)
}

.imgs {
    height: 200;
    width: 200;
}

content {
    margin: 0;
}

.list-group {
    margin-bottom: 20;
}

.list-group-item-warning {
    background-color: rgba(0,0,0, 0.5); 
    font-family: 'Exo', sans-serif;
    box-shadow: 6px 6px 0px black;
}

.filtre {
    font-family: 'Exo', sans-serif;
}

.py-4 {
    background-image: url('/images/ge2.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;

}

.custom-select {
    width: 80%;
}
.custom-select2 {
    width: 45%;
}

.conditions {
    width: 550px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgb(83, 201, 16);
    text-align: justify;
    color:rgb(30, 10, 104);   
}
.full-heigh{
    height: 98%;
}
.bg-light{
    max-height: 650px;
    background-color: rgba(0,0,0, 0.5) !important;
    color: white;
    min-width: 1100px;
    box-shadow: 6px 6px 0px black;
}
.detail{
    margin-top: 13px;
}
.detailCadre{
    margin-top: 45px;
}
.contacteA{
background-color:24a0ed;
max-height: 150px;
padding-top: 25px;
}
.fp{
    margin-top: 5px;
}
.but{
    background-color: rgba(0,0,0, 0.5); 
    color: white;
    
}

.bn{
    margin-left: 1300px;
}
.list-group-item-warning{
    color: white;
    
}
.btn{
    padding: 4px;
}

.conditionAjout {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
    background-color: rgba(0,0,0, 0.5);
    box-shadow: 6px 6px 0px black;
    color: white;
    font-size: 18px;

}

.conditionApprouv {
    color: white;
    
    padding-right:10px;
    margin-left: 5px;
}

.ajouter{
    padding-left: 25px;
  
}
.pt-4, .py-4{
    padding-top: inherit !important;
}
.filtreI{
    padding-right: 120px;
    padding-left: 120px;
}
.offset-9 {
    margin-left: 67%;
}
.prixD{
    margin-left: 37% !important;
    font-size: x-large;
    margin-bottom: 5%;
    margin-top: 3%;
}
.padS{
    margin-right: -8px;
}
.downI{
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    padding: 3px;
}
.bCondi{
    background-color: rgba(255,255,255, 0.5); 
    color: black;
    border-color: inherit;
    font-size: 13px;
}
.condi{
    padding-left: 35px;
}
.card{
    margin-top: 200px;
    background-color: rgba(0,0,0, 0.5);
    box-shadow: 6px 6px 0px black;
    color: white;
    font-size: 15px;
}
.taille{
    height: 100vh;
}
.descri{
    font-size: 18px;
}
.btn2{
    margin-right: 26px;
}
.custom-select{
    background: inherit;
    background-color: white;
}

